<html>
<head>
	<meta charset="UTF-8">
	<title>Questions</title>
	<script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>  

</head>
<body>

<!-- onsubmit="run(event)" -->
<form onsubmit='post()'>
	<div class="qText">
		<%= q1 %>
	</div>
	<textarea name='q1' id="ans1" style="width: 500px; height: 150px; display: block; margin: 10px"></textarea>

	<div class="qText">
		<%= q2 %>
	</div>
	<textarea name='q2' id="ans2" style="width: 500px; height: 150px; display: block; margin: 10px"></textarea>

	<div class="qText">
		<%= q3 %>
	</div>
	<textarea name='q3' id="ans3" style="width: 500px; height: 150px; display: block; margin: 10px"></textarea> 
	
	<input style="display: block; margin-top: 30px" type="submit" name="submit">
 </form>
</body>
<script>
	
	// console.log('id', id)

	function post(){
		var ans1 = $('#ans1').val();
		var ans2 = $('#ans2').val();
		var ans3 = $('#ans3').val();
		$.post('/question', {
			ans1: ans1,
			ans2: ans2,
			ans3: ans3,
		});
	}
</script>

</html>
