body{
    font-family: 'Ubuntu', sans-serif;
}
.input {
    padding-left: 15px; 
}
.cb {
    margin-left: 15px; 
}
.button{
    margin-left: 15px;
border:1px solid #7d99ca; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #A5B8DA; background-image: -webkit-gradient(linear, left top, left bottom, from(#A5B8DA), to(#7089B3));
 background-image: -webkit-linear-gradient(top, #A5B8DA, #7089B3);
 background-image: -moz-linear-gradient(top, #A5B8DA, #7089B3);
 background-image: -ms-linear-gradient(top, #A5B8DA, #7089B3);
 background-image: -o-linear-gradient(top, #A5B8DA, #7089B3);
 background-image: linear-gradient(to bottom, #A5B8DA, #7089B3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#A5B8DA, endColorstr=#7089B3);
}

.button:hover{
 border:1px solid #5d7fbc;
 background-color: #819bcb; background-image: -webkit-gradient(linear, left top, left bottom, from(#819bcb), to(#536f9d));
 background-image: -webkit-linear-gradient(top, #819bcb, #536f9d);
 background-image: -moz-linear-gradient(top, #819bcb, #536f9d);
 background-image: -ms-linear-gradient(top, #819bcb, #536f9d);
 background-image: -o-linear-gradient(top, #819bcb, #536f9d);
 background-image: linear-gradient(to bottom, #819bcb, #536f9d);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#819bcb, endColorstr=#536f9d);
}

#inputs{
    height: 40px;
    font-size: 20px;
    background-color: #F0F0F0; 
    padding-top: 15px;
    padding-left: 15px; 
    border-radius: 5px; 
    border: 1px;
    border-color: #000; 
    opacity: .7;
    width: 50%;
}

#cbs {
      height: 270px;
    background-color: #BDBDBD; 
    padding-top: 15px;
    padding-left: 15px; 
    border-radius: 5px; 
    border: 1px;
    border-color: #000; 
    opacity: .7;
    width: 50%;
}